html {
    font-family: 'Raleway', sans-serif !important;
}

.container {
    background: yellow;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

textarea:focus,
input[type="text"]:focus,
 .uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px;
    border-color: darkgray;
    outline: none;      
}

.input{
    margin: 0 !important;
}

#dropdown{  
    margin 0;
    padding: 0;
    list-style: none;
    display: none;
}

.dropdown-elem{ 
    position: relative;
    background-color: whitesmoke;
    width: 100%;
    height: auto;
}

.dropdown-elem:nth-child(2){
    background-color: gainsboro;
}

.posterSearch{
    vertical-align: unset;
    text-align: start;
    width: 100px;
    display: inline-block;
    margin: 5px; 
    border-radius: 10px;
}

.titleSearch{
    margin: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.yearSearch{
    margin-top: 10px;
    display: inline-block;  
    font-size: 14px;
}

.descriptionSearch{
    font-size: 14px;
    text-align: justify;
    margin: 10px;
    
}

.desBlock{
    width: 380px;
    height: auto;
    display: inline-block;
}